#searchBoxDiv{
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

#loadingSpinner {
    margin: auto;
    padding: 70px 0;
}

#addressDiv {
    margin-top: 5px;
    font-size: small;
    line-height: 1.5;
}

#dateDisplay {
    padding-top: 7px;
    padding-bottom: 7px;
}

#geoDistance {
    font-size: small;
    font-weight: normal;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
}

a:link {
    color: #006699;
}

a:visited {
    color: #006699;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-header {
    padding-right: 15px;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
}
