<div class='container' id='dateDisplay'>Here are the flavors for {{today | date:'EEEE, MMMM d'}}!</div>
<div *ngIf="dataLoaded != true">

    <div id="loadingSpinner" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <br>
            <br>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div *ngIf="dataLoaded">
<div class='container'>
    <div id='searchBoxDiv'>
        <input class='form-control' id='searchBox' type="text" [(ngModel)]="term" placeholder="Search">
    </div>
    
    <ng-container *ngFor="let location of locations | filter:term; let k = index ">
        <div class="card mt-2">
            <div class="card-header"><h2><a href={{location.URL}}>{{location.name}}</a><span id="geoDistance" *ngIf="geoLocationSupported != false" class="badge badge-secondary" style="float:right;">{{ location.distance }} Mile<span *ngIf="location.distance != 1">s</span></span></h2>
                <div id="addressDiv"><h5>{{location.address}}<br>{{location.city}}</h5></div>
            </div>
            <ng-container *ngFor="let flavors of location.flavors; let i = index">
                <div class="card-body">
                    <h3 class="card-title">{{ flavors | titlecase }}</h3>
                    <ng-container *ngFor="let description of location.descriptions; let j = index">
                    <div class="card-text">
                        <h4><p class="card-text" *ngIf="i === j">{{ description}}</p></h4>
                    </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
<app-footer></app-footer>
</div>

